<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.orange_box.storebox.harness">

    <instrumentation
        android:name=".CustomInstrumentationTestRunner"
        android:targetPackage="net.orange_box.storebox.harness" />
</manifest>
